<% @article.comments.reverse_each do |comment| %>
  <p>
    <strong><%= comment.author_name.nil? ? "No author" : comment.author_name + ':' %></strong>
    <%= comment.body + "\t" %>
    <p class="comment-time">Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> later</p><br>
  </p>
<% end %>
